.content_page {
    width: 65%;
    margin: 150px auto 50px auto;
}

.right {
    align-self: flex-end;
}

/*--- HEADER ---*/

.content_header {
    width: 60%;
    font-family: "Jost", sans-serif;

    h5 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 13px;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 30px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

/*--- ARTICLES ---*/

.article_about {
    display: flex;
    flex-direction: column;

    article {
        display: flex;
        flex-direction: column;
        position: relative;

        .section_article {
            display: flex;
            flex-direction: column;
            width: 500px;
            padding: 50px;
            margin: 250px 0;
            background-color: #f44336;
            font-family: "Jost", sans-serif;
            color: #fff;

            h4 {
                align-self: flex-start;
                font-weight: 300;
                font-size: 16px;
            }

            h2 {
                font-weight: 400;
                font-size: 36px;
                margin: 10px 0 40px 0;
            }

            a {
                align-self: flex-start;
                text-decoration: none;
                font-weight: 300;
                font-size: 16px;
                color: #fff;
                border: solid 1px #fff;
                padding: 10px 20px;
                text-transform: uppercase;
                transition: all .3s;
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }

        #bg_article_1 {
            background-color: #f44336;
        }

        #bg_article_2 {
            background-color: #2196f3;
        }

        #bg_article_3 {
            background-color: #ff9800;
        }
    }

    img {
        z-index: -1;
        position: absolute;
        width: 700px;
        right: 0px;
        top: 150px;
    }

    #art_img_left {
        left: 0px;
    }
}

/*--- FOOTER ---*/

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #projet_footer {
        font-family: "Jost", sans-serif;
        font-weight: 300;
        font-size: 24px;

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #000;
        }
    }

    hr {
        color: #000;
        width: 100%;
        margin: 20px 0;
    }

    .content_bottom_footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            font-family: "Jost", sans-serif;
        }

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                border-bottom: solid 1px #000;
            }
        }

        .link_footer {
            a {
                font-family: "Jost", sans-serif;
                margin: 0 10px;
                color: #000;
                text-decoration: #000;
            }
        }
    }
}