.content_page {
    width: 65%;
    margin: 150px auto 50px auto;
}

.right {
    align-self: flex-end;
}

/*--- HEADER ---*/

.content_header {
    width: 60%;

    h5 {
        @include font(13px, 300, 10px, $base-color);
        text-transform: uppercase;
    }

    h1 {
        @include font(36px, 600, 55px, $base-color);
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        @include font(18px, 400, 40px, $base-color);
        margin-bottom: 10px;
    }
}

/*--- ARTICLES ---*/

.article_about {
    display: flex;
    flex-direction: column;

    article {
        display: flex;
        flex-direction: column;
        position: relative;

        .section_article {
            display: flex;
            flex-direction: column;
            width: 500px;
            padding: 50px;
            margin: 250px 0;
            background-color: #f44336;

            h4 {
                align-self: flex-start;
                @include font(16px, 300, 40px, $color-white);
            }

            h2 {
                @include font(36px, 400, 36px, $color-white);
                margin: 10px 0 40px 0;
            }

            a {
                align-self: flex-start;
                text-decoration: none;
                @include font(16px, 300, 16px, $color-white);
                border: solid 1px $color-white;
                padding: 10px 20px;
                text-transform: uppercase;
                transition: all .3s;

                &:hover {
                    background-color: $color-white;
                    color: $base-color;
                }
            }
        }

        #bg_article_1 {
            background-color: #f44336;
        }

        #bg_article_2 {
            background-color: #2196f3;
        }

        #bg_article_3 {
            background-color: #ff9800;
        }
    }

    img {
        z-index: -1;
        position: absolute;
        width: 700px;
        right: 0px;
        top: 150px;
    }

    #art_img_left {
        left: 0px;
    }
}

/*--- FOOTER ---*/

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #projet_footer {
        @include font(24px, 300, 24px, $base-color);

        a {
            color: $base-color;
            text-decoration: none;
            border-bottom: 1px solid $base-color;

            &:hover {
                color: $color-hover;
                border-bottom: solid 1px $color-hover;
            }
        }
    }

    hr {
        color: $base-color;
        width: 100%;
        margin: 20px 0;
    }

    .content_bottom_footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            color: $base-color;
            text-decoration: none;

            &:hover {
                border-bottom: solid 1px $base-color;
            }
        }

        .link_footer {
            a {
                margin: 0 10px;
                color: $base-color;

                &:hover {
                    border-bottom: solid 1px $base-color;
                }
            }
        }
    }
}