// #ex{
//     @include font(35px, 700, 40px, $color-creme);
// }


$base-color: #111111;
$color-hover: #9E9E9E;

* {
    margin: 0;
    padding: 0;
    cursor: url(../img/cursor.png), pointer;
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.clear {
    clear: both;
}


/*--- NAV ---*/
nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    top: 25px;
    left: 100px;
    line-height: 50px;
    z-index: 1;

    a {
        svg {
            width: 45px;
            height: 55px;
            fill: $base-color;
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;

            a {
                width: 100%;
                font-size: 19px;
                margin: 0 20px;
                text-decoration: none;
                color: $base-color;

                &:hover {
                    border-bottom: solid 1px $base-color;
                }
            }
        }
    }
}

/*--- SOCIAL MENU ---*/

.social_menu {
    position: fixed;
    z-index: 1;
    top: 42%;

    li {
        list-style-type: none;
        margin-bottom: 15px;

        a {
            padding: 15px;

            i {
                color: $base-color;
                font-size: 32px;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: $color-hover;
                    cursor: url(../img/cursor.png), pointer;
                }
            }
        }
    }
}

/*--- HEADER ---*/
header {
    .fp-tableCell {
        vertical-align: initial;
    }
    .media_header {
        width: 93.5%;
        margin: 100px 60px 0 60px;
        &:before{
            background-color: black;
        }
        video{
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        top: 15%;
        left: 8%;
        position: absolute;
        z-index: 1;
        color: #fff;
        font-weight: 300;
        font-size: 24px;
    }

    .scroll_wrapper {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-49%);
        text-align: center;
        z-index: 1;

        svg {
            fill: #fff;
            margin: 0 auto;
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 160px;
            background-size: 225%;
            animation: c 5s linear infinite, e 5s ease-out infinite;
            transition: all .5s;

            &:hover {
                fill: $color-hover;
            }

            @keyframes c {
                0% {
                    background-position: 0 100%;
                }

                20% {
                    background-position: 0 0;
                }

                21% {}

                29.99% {
                    background-position: 0 0;
                }

                30% {
                    background-position: 0 100%;
                }

                50% {
                    background-position: 0 0;
                }

                59% {
                    background-position: 0 0;
                }

                60% {
                    background-position: 0 100%;
                }

                80% {
                    background-position: 0 0;
                }

                81% {}
            }

            @keyframes e {
                0% {
                    transform: translateY(0);
                }

                20% {
                    transform: translateY(.4rem);
                }

                30% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(.4rem);
                }

                60% {
                    transform: translateY(0);
                }

                80% {
                    transform: translateY(.4rem);
                }

                90% {
                    transform: translateY(0);
                }
            }
        }
    }
}

/*--- ABOUT ---*/

.about {
    background-color: #fff;

    .content_about {
        display: flex;
        flex-direction: column;
        padding: 100px 200px;
        width: 600px;

        h2 {
            display: block;
            position: relative;
            font-size: 48px;
            font-weight: 600;
            padding-top: 40px;
            color: $base-color;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                height: .1rem;
                width: 7rem;
                z-index: 1;
                background-color: $base-color;
            }
        }

        ul {
            list-style: none;
            margin-top: 30px;
            font-size: 30px;
            font-weight: 300;
            width: 100%;

            li {
                padding: 20px 0px;

                a {
                    display: block;
                    width: 600px;
                    text-decoration: none;
                    color: $base-color;
                    padding-bottom: 20px;
                    border-bottom: solid 1px $base-color;
                    transition: all .3s;

                    &:hover {
                        color: $color-hover;
                        border-bottom: solid 1px $color-hover;
                    }

                    i {
                        float: right;
                    }
                }
            }
        }
    }
}

/*--- PORTFOLIO ---*/
.portfolio {
    .content_portfolio {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: block;
            background-color: #2196f3;
            width: 370px;
            height: 500px;
            margin: 0 50px;
            transform: scale(1);
            transition: .3s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
            img{
                width: 100%;
                height: 100%;
            }
            
    
        }
    }

    .btn_portfolio {
        display: flex;
        justify-content: center;

        a {
            margin-top: 50px;
            background-color: $base-color;
            text-transform: uppercase;
            padding: 20px 40px;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            border: solid 1px $base-color;
            transition: all .3s;

            &:hover {
                background-color: #fff;
                color: $base-color;
            }
        }
    }

}

/*--- contact ---*/
.contact {
    background-color: #fff;

    .content_contact {
        padding: 100px 200px;
        width: 700px;

        h2 {
            display: block;
            position: relative;
            font-size: 48px;
            font-weight: 600;
            padding-top: 40px;
            color: $base-color;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                height: 0.1rem;
                width: 7rem;
                z-index: 1;
                background-color: $base-color;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 50px;
            color: $base-color;
        }

        input,
        textarea {
            font-size: 20px;

            &:focus {
                border: none;
                outline: none;
            }
        }

        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            padding: 0 0 10px 5px;
            border: none;
            border-bottom: solid 1px $base-color;
            margin-bottom: 35px;
        }

        input[type=submit] {
            margin-top: 10px;
            cursor: pointer;
            background-color: #fff;
            border: solid 1px $base-color;
            text-transform: uppercase;
            padding: 20px 40px;
            font-size: 18px;
            color: $base-color;
            transition: all .3s;

            &:hover {
                background-color: $base-color;
                color: #fff;
            }
        }

        #name {
            width: 45%;
            margin-right: 7.8%;
        }

        #email {
            width: 45%;
        }

        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 100px;
            max-height: 300px;

            &:focus {
                border-bottom: solid 1px $base-color;
            }
        }
    }
}