.portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .bloc_projet{
        display: flex;
        justify-content: center;
        background-color: $color-hover;
        width: 514px;
        height: 700px;
        margin: 50px;
        border: solid 2px #fff;
        &:hover{
            border: solid 2px #000;
        }
        p{
            width: 100%;
            align-self: center;
            font-size: 50px;
            text-transform: uppercase;
            opacity: 0;
            &:hover{
                opacity: 1;
            }
        }
    }
}