.portfolio {
    h3 {
        margin-top: 90px;
        position: relative;
        font-size: 30px;
        margin-left: 40px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 5px;

        &:before {
            position: absolute;
            content: "";
            top: -40px;
            height: 0.1rem;
            width: 7rem;
            z-index: 1;
            background-color: $base-color;
        }
    }

    .content_projet {
        margin: 20px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;

        .bloc_projet {
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;
            background-color: $color-hover;
            width: 514px;
            height: 700px;
            margin: 40px;
            transform: scale(1);
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            a {
                align-self: flex-end;
                margin-bottom: 50px;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-white;
                border: solid 1px $color-white;
                padding: 15px 20px;
                position: absolute;
                transition: all .3s;

                &:hover {
                    background-color: $color-white;
                    color: $base-color;
                }
            }

            img {
                height: 700px;
            }
        }
    }

    .content_logo {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .bloc_logo {
            overflow: hidden;
            display: flex;
            justify-content: center;
            background-color: $color-hover;
            width: 300px;
            height: 300px;
            margin: 50px;
            transform: scale(1);
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .content_affiche {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .bloc_affiche {
            overflow: hidden;
            display: flex;
            justify-content: center;
            background-color: $color-hover;
            width: 514px;
            height: 700px;
            margin: 50px;
            transform: scale(1);
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}