* {
  margin: 0;
  padding: 0;
  cursor: url(../img/cursor.png), pointer;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.clear {
  clear: both;
}

.content_page {
  width: 65%;
  margin: 150px auto 50px auto;
}

.right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #projet_footer {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: #111111;
}

footer #projet_footer a {
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid #111111;
}

footer #projet_footer a:hover {
  color: #9E9E9E;
  border-bottom: solid 1px #9E9E9E;
}

footer hr {
  color: #111111;
  width: 100%;
  margin: 20px 0;
}

footer .content_bottom_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content_bottom_footer a {
  color: #111111;
  text-decoration: none;
}

footer .content_bottom_footer a:hover {
  border-bottom: solid 1px #111111;
}

footer .content_bottom_footer .link_footer a {
  margin: 0 10px;
  color: #111111;
}

footer .content_bottom_footer .link_footer a:hover {
  border-bottom: solid 1px #111111;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88%;
  top: 25px;
  left: 100px;
  line-height: 50px;
  z-index: 1;
}

nav a svg {
  width: 45px;
  height: 55px;
  fill: #111111;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
  width: 100%;
  margin: 0 20px;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: solid 1px #111111;
}

.social_menu {
  position: fixed;
  z-index: 1;
  top: 42%;
}

.social_menu li {
  list-style-type: none;
  margin-bottom: 15px;
}

.social_menu li a {
  padding: 15px;
}

.social_menu li a i {
  color: #111111;
  font-size: 32px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.social_menu li a i:hover {
  color: #9E9E9E;
  cursor: url(../img/cursor.png), pointer;
}

.content_header {
  width: 60%;
}

.content_header h5 {
  font-size: 13px;
  font-weight: 300;
  line-height: 10px;
  color: #111111;
  text-transform: uppercase;
}

.content_header h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 55px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content_header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #111111;
  margin-bottom: 10px;
}

.article_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article_about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.article_about article .section_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  padding: 50px;
  margin: 250px 0;
  background-color: #f44336;
}

.article_about article .section_article h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
}

.article_about article .section_article h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  margin: 10px 0 40px 0;
}

.article_about article .section_article a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  border: solid 1px #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.article_about article .section_article a:hover {
  background-color: #fff;
  color: #111111;
}

.article_about article #bg_article_1 {
  background-color: #f44336;
}

.article_about article #bg_article_2 {
  background-color: #2196f3;
}

.article_about article #bg_article_3 {
  background-color: #ff9800;
}

.article_about img {
  z-index: -1;
  position: absolute;
  width: 700px;
  right: 0px;
  top: 150px;
}

.article_about #art_img_left {
  left: 0px;
}

.content_header {
  width: 60%;
}

.content_header h5 {
  font-size: 13px;
  font-weight: 300;
  line-height: 10px;
  color: #111111;
  text-transform: uppercase;
}

.content_header h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 55px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content_header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #111111;
  margin-bottom: 10px;
}

.article_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article_about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.article_about article .section_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  padding: 50px;
  margin: 250px 0;
  background-color: #f44336;
}

.article_about article .section_article h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
}

.article_about article .section_article h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  margin: 10px 0 40px 0;
}

.article_about article .section_article a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  border: solid 1px #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.article_about article .section_article a:hover {
  background-color: #fff;
  color: #111111;
}

.article_about article #bg_article_1 {
  background-color: #f44336;
}

.article_about article #bg_article_2 {
  background-color: #2196f3;
}

.article_about article #bg_article_3 {
  background-color: #ff9800;
}

.article_about img {
  z-index: -1;
  position: absolute;
  width: 700px;
  right: 0px;
  top: 150px;
}

.article_about #art_img_left {
  left: 0px;
}

.portfolio h3 {
  margin-top: 90px;
  position: relative;
  font-size: 30px;
  margin-left: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.portfolio h3:before {
  position: absolute;
  content: "";
  top: -40px;
  height: 0.1rem;
  width: 7rem;
  z-index: 1;
  background-color: #111111;
}

.portfolio .content_projet {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .content_projet .bloc_projet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #9E9E9E;
  width: 514px;
  height: 700px;
  margin: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio .content_projet .bloc_projet:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio .content_projet .bloc_projet a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: solid 1px #fff;
  padding: 15px 20px;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .content_projet .bloc_projet a:hover {
  background-color: #fff;
  color: #111111;
}

.portfolio .content_projet .bloc_projet img {
  height: 700px;
}

.portfolio .content_logo {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .content_logo .bloc_logo {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9E9E9E;
  width: 300px;
  height: 300px;
  margin: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio .content_logo .bloc_logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio .content_affiche {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .content_affiche .bloc_affiche {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9E9E9E;
  width: 514px;
  height: 700px;
  margin: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio .content_affiche .bloc_affiche:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*--- HEADER PROJET ---*/
.header_projet {
  text-align: center;
}

.header_projet h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 5px;
}

.header_projet p {
  font-size: 16px;
  font-weight: 300;
}

/*--- CONTENT PROJET ---*/
.content_projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}

.content_projet .mockup {
  width: 50%;
  height: auto;
  background-color: #9E9E9E;
}

.content_projet .mockup img {
  width: 100%;
  height: 100%;
}

.content_projet .desc_projet {
  margin-left: 40px;
  width: 50%;
}

.content_projet .desc_projet p {
  line-height: 25px;
  margin-bottom: 40px;
}

.content_projet .desc_projet p span {
  text-transform: uppercase;
}

.content_projet .desc_projet h5 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.content_projet .desc_projet ul {
  margin-bottom: 40px;
}

.content_projet .desc_projet ul li {
  list-style-type: none;
  line-height: 25px;
}

.content_projet .desc_projet a {
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  padding: 15px 20px;
  border: solid 1px #111111;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content_projet .desc_projet a:hover {
  background-color: #111111;
  color: #fff;
}

/*--- MOCKUP MOBILE ---*/
.mockup_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 200px 0;
}

.mockup_mobile .mobile {
  display: inline-block;
  margin: 0 30px;
  padding: 50px 20px 16px;
  position: relative;
  width: 280px;
  height: 580px;
  border-radius: 30px;
  background: #f0f0f0;
  background: linear-gradient(135deg, #f0f0f0, #fafafa);
  -webkit-box-shadow: 24px 40px 80px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 24px 40px 80px 11px rgba(0, 0, 0, 0.1);
}

.mockup_mobile .mobile:before {
  content: '';
  position: absolute;
  background-color: #d7d7d7;
  top: 15px;
  left: calc(50% - 48px);
  height: 8px;
  width: 96px;
  border-radius: 10px;
}

.mockup_mobile .mobile::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  left: calc(50% - 20px);
  border: solid 4px #d7d7d7;
  background-color: #ffffff;
  bottom: 15px;
}

.mockup_mobile .mobile img {
  width: 100%;
  height: 500px;
}

.nav_projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_projet .btn_projet_l {
  text-align: left;
  width: 20%;
}

.nav_projet .btn_projet_l a {
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav_projet .btn_projet_l a span {
  font-size: 30px;
  font-weight: 500;
}

.nav_projet .btn_projet_l a:hover {
  color: #9E9E9E;
}

.nav_projet .btn_projet_home a {
  text-decoration: none;
  color: #111111;
}

.nav_projet .btn_projet_home a i {
  font-size: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav_projet .btn_projet_home a i:hover {
  color: #9E9E9E;
}

.nav_projet .btn_projet_r {
  text-align: right;
  width: 20%;
}

.nav_projet .btn_projet_r a {
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav_projet .btn_projet_r a span {
  font-size: 30px;
  font-weight: 500;
}

.nav_projet .btn_projet_r a:hover {
  color: #9E9E9E;
}

.mentions h4 {
  position: relative;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 50px;
}

.mentions h4:before {
  position: absolute;
  content: "";
  top: -40px;
  height: 0.1rem;
  width: 7rem;
  z-index: 1;
  background-color: #111111;
}

.mentions a {
  color: #111111;
}

.mentions h5 {
  font-size: 20px;
  margin: 20px 0;
}
/*# sourceMappingURL=style.css.map */