//
// ────────────────────────────────────────────────────────────────────── NAV ─────
//


nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    top: 25px;
    left: 100px;
    line-height: 50px;
    z-index: 1;

    a {
        svg {
            width: 45px;
            height: 55px;
            fill: $color-primary;
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;

            a {
                @include font(19px, 400, 19px, $color-primary);
                width: 100%;
                margin: 0 20px;
                text-decoration: none;

                &:hover {
                    border-bottom: solid 1px $color-primary;
                }
            }
        }
    }
}


//
// ────────────────────────────────────────────────────────────── SOCIAL MENU ─────
//


.social_menu {
    position: fixed;
    z-index: 1;
    top: 42%;

    li {
        list-style-type: none;
        margin-bottom: 15px;

        a {
            padding: 15px;

            i {
                color: $color-primary;
                font-size: 32px;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: $color-hover;
                    cursor: url(../img/cursor.png), pointer;
                }
            }
        }
    }
}