//
// ────────────────────────────────────────────────────────────────────── NAV ─────
//



nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 200px);
    margin: 0 100px;
    top: 25px;
    line-height: 50px;
    z-index: 1;
    left: 0;
    a {
        svg {
            width: 45px;
            height: 55px;
            fill: $color-primary;
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;
            
            a {
                @include font(19px, 400, 20px, $color-primary);
                text-decoration: none;
                color: $color-primary;
                width: 100%;
                margin: 0 20px;
                padding-bottom: 3px;
                background-image: linear-gradient($color-primary, $color-primary);
                background-size: 0 1px, auto;
                background-repeat: no-repeat;
                background-position: center bottom;
                transition: all .2s ease-out;
                &:hover{
                    background-size: 100% 1px, auto;
                }
            }
        }
    }
}

//
// ────────────────────────────────────────────────────────────── SOCIAL MENU ─────
//


.social_menu {
    position: fixed;
    z-index: 1;
    top: 42%;
    width: 3%;

    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        li {
        
            list-style-type: none;
            margin: 10px 0;
    
            a {
                
    
                i {
                    color: $color-primary;
                    font-size: 32px;
                    cursor: pointer;
                    transition: all .3s;
    
                    &:hover {
                        color: $color-hover;
                        cursor: url(../img/cursor.png), pointer;
                    }
                }
            }
        }
    }
}




//
// ──────────────────────────────────────────────────────────────── LAPTOP ─────
//


@include lt {
}


//
// ──────────────────────────────────────────────────────────────── TABLET ─────
//


@include t {
}


//
// ──────────────────────────────────────────────────────────────── MOBILE ─────
//


@include m {
}