//
// ──────────────────────────────────────────────────────────────── FUNCTIONS ─────
//


* {
    margin: 0;
    padding: 0;
    cursor: url(../img/cursor.png), pointer;
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: $color-base;
}

.clear {
    clear: both;
}

.content_page {
    width: 65%;
    margin: 150px auto 50px auto;
}

.right {
    align-self: flex-end;
}