//
// ───────────────────────────────────────────────────────────────────── HEADER ──
//


header {
    .fp-tableCell {
        vertical-align: initial;
    }
    .media_header {
        position: absolute;
        overflow: hidden;
        margin: 100px 60px 0 60px;
        video{
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        top: 15%;
        left: 8%;
        position: absolute;
        z-index: 1;
        @include font(24px, 300, 24px, $color-base);
    }

    .scroll_wrapper {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-49%);
        text-align: center;
        z-index: 1;

        svg {
            fill: $color-base;
            margin: 0 auto;
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 160px;
            background-size: 225%;
            animation: c 5s linear infinite, e 5s ease-out infinite;
            transition: all .5s;

            &:hover {
                fill: $color-hover;
            }

            @keyframes c {
                0% {
                    background-position: 0 100%;
                }

                20% {
                    background-position: 0 0;
                }

                21% {}

                29.99% {
                    background-position: 0 0;
                }

                30% {
                    background-position: 0 100%;
                }

                50% {
                    background-position: 0 0;
                }

                59% {
                    background-position: 0 0;
                }

                60% {
                    background-position: 0 100%;
                }

                80% {
                    background-position: 0 0;
                }

                81% {}
            }

            @keyframes e {
                0% {
                    transform: translateY(0);
                }

                20% {
                    transform: translateY(.4rem);
                }

                30% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(.4rem);
                }

                60% {
                    transform: translateY(0);
                }

                80% {
                    transform: translateY(.4rem);
                }

                90% {
                    transform: translateY(0);
                }
            }
        }
    }
}


//
// ──────────────────────────────────────────────────────────────── ABOUT ─────
//

.about {
    background-color: $color-base;

    .content_about {
        display: flex;
        flex-direction: column;
        padding: 100px 200px;
        width: 600px;

        h2 {
            display: block;
            position: relative;
            @include font(48px, 600, 60px, $color-primary);
            padding-top: 40px;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                height: .1rem;
                width: 7rem;
                z-index: 1;
                background-color: $color-primary;
            }
        }

        ul {
            list-style: none;
            @include font(30px, 300, 30px, $color-primary);
            margin-top: 30px;
            width: 100%;

            li {
                padding: 20px 0px;

                a {
                    display: block;
                    width: 600px;
                    text-decoration: none;
                    color: $color-primary;
                    padding-bottom: 20px;
                    border-bottom: solid 1px $color-primary;
                    transition: all .3s;

                    &:hover {
                        color: $color-hover;
                        border-bottom: solid 1px $color-hover;
                    }

                    i {
                        float: right;
                    }
                }
            }
        }
    }
}


//
// ──────────────────────────────────────────────────────────────── PORTFOLIO ─────
//


.portfolio {
    .content_portfolio {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: block;
            background-color: #2196f3;
            width: 370px;
            height: 500px;
            margin: 0 50px;
            transform: scale(1);
            transition: .3s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
            img{
                width: 100%;
                height: 100%;
            }
            
    
        }
    }

    .btn_portfolio {
        display: flex;
        justify-content: center;

        a {
            @include font(18px, 400, 18px, $color-primary);
            margin-top: 70px;
            background-color: $color-base;
            text-transform: uppercase;
            padding: 20px 40px;
            text-decoration: none;
            color: $color-primary;
            border: solid 1px $color-primary;
            transition: all .3s;

            &:hover {
                background-color: $color-primary;
                color: $color-base;
            }
        }
    }
}


//
// ──────────────────────────────────────────────────────────────── CONTACT ─────
//


.contact {
    background-color: $color-base;

    .content_contact {
        padding: 100px 200px;
        width: 700px;

        h2 {
            display: block;
            position: relative;
            @include font(48px, 600, 48px, $color-primary);
            padding-top: 40px;
            margin-bottom: 15px;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                height: 0.1rem;
                width: 7rem;
                z-index: 1;
                background-color: $color-primary;
            }
        }

        h3 {
            @include font(20px, 400, 30px, $color-primary);
            margin-bottom: 50px;
        }

        input,
        textarea {
            @include font(20px, 400, 20px, $color-primary);

            &:focus {
                border: none;
                outline: none;
            }
        }

        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            padding: 0 0 10px 5px;
            border: none;
            border-bottom: solid 1px $color-primary;
            margin-bottom: 35px;
        }

        input[type=submit] {
            margin-top: 10px;
            cursor: pointer;
            background-color: $color-base;
            border: solid 1px $color-primary;
            text-transform: uppercase;
            padding: 20px 40px;
            @include font(18px, 400, 18px, $color-primary);
            transition: all .3s;

            &:hover {
                background-color: $color-primary;
                color: $color-base;
            }
        }

        #name {
            width: 45%;
            margin-right: 7.8%;
        }

        #email {
            width: 45%;
        }

        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 100px;
            max-height: 300px;

            &:focus {
                border-bottom: solid 1px $color-primary;
            }
        }
    }
}